/* A bare-minimum Lightbox plugin stylesheet developed at PQube Business Solutions */

.lightbox-image {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 50;
    max-height: 80vh;
    max-width: 80vw;
}

.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}
